@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
}
.header {
    padding: 2% 0% 0% 15%;
}
.header_menu {
    display: flex;
    gap: 80px;
}
.header_menu_link {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    color: #22D4FD;
    text-decoration: none;
}

.titulo_destacado {
    color: #22D4FD;  
}

.bio {
    display: flex;
    align-items: center;
    padding: 7% 15%;
    justify-content: space-between;
}

.presentacion {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-style: normal;
}

.presentacion_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.enlaces {
    display: flex;
    justify-content: space-between;
}
.enlace_social {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    font-weight: 600;
    border: 2px solid #22D4FD;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentacion_texto_subtitulo {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.foto_perfil {
    max-width: 100%;
    height: auto;
}
.footer {
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    color: black;
    font-family: "Krona One", sans-serif;
    font-size: 20px;
}
.presentacion_texto::after {
    content: "👨🏻‍🚀";
}

/* Estilo CSS de sobremi.html */
.presentacion_texto_1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}
.presentacion_texto_2 {    
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 24px;
}

/* Media Queries para dispositivos de tamaño medio (tabletas) */
@media (max-width: 768px) {
    .header {
        padding: 2% 0% 0% 5%;
    }
    .header_menu {
        gap: 40px;
    }
    .header_menu_link {
        font-size: 20px;
    }
    .bio {
        flex-direction: column;
        align-items: center;
        padding: 5% 5%;
    }
    .presentacion {
        width: 100%;
    }
    .presentacion_titulo {
        font-size: 30px;
    }
    .presentacion_texto {
        font-size: 20px;
    }
    .enlaces {
        flex-direction: column;
        gap: 10px;
    }
    .enlace_social {
        width: 100%;
        font-size: 20px;
    }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 480px) {
    .header {
        padding: 2% 0;
    }
    .header_menu {
        flex-direction: column;
        gap: 20px;
    }
    .header_menu_link {
        font-size: 18px;
    }
    .bio {
        padding: 3% 3%;
    }
    .presentacion {
        width: 100%;
        text-align: center;
    }
    .presentacion_titulo {
        font-size: 24px;
    }
    .presentacion_texto {
        font-size: 18px;
    }
    .enlace_social {
        width: auto;
        font-size: 18px;
    }
    .footer {
        font-size: 18px;
    }
}
